// Colors
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Font weights and sizes
$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-size-base: 0.812rem;
$font-size-large: 1.25rem;
$font-size-small: 0.687rem;
